* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.section{
        text-align:center;
        overflow: hidden;
    }

    #myVideo{
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: /* our video */;
        background-position: center center;
        background-size: cover;
        object-fit: cover; /*cover video background */
        z-index:3;
    }
    /* Layer with position absolute in order to have it over the video
    * --------------------------------------- */
    #section0 .layer{
        display: -webkit-flex;
        -webkit-flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 4;
        max-width: 100%;
        top: 10%;

        

        /* 
        * Preventing flicker on some browsers 
        * See http://stackoverflow.com/a/36671466/1081396  or issue #183
        */
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    /*solves problem with overflowing video in Mac with Chrome */
    #section0{
        overflow: hidden;

    }
    .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 100%;
}

#fd1 {
    font-size: 230px;
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-weight: thin;
    margin-bottom: 0px;

}

#fd1-h2 {
    font-size: 50px;
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-weight: bolder;
    margin-bottom: 0px;

}

.bg {
    background-image: url(https://static.pexels.com/photos/34972/pexels-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu{
    -webkit-flex: 3 0 0;
    margin: 35px; 
    background-color: black;
}
.nav {
    display:-webkit-flex;
    justify-content: space-between;
    padding: 0px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
    color:#36454f;
    background: rgba(225, 225, 225, 0.6);
}

#nav-button {
  
  width: 150px;
  height: 50px;
  font-size: 12px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}

#navcontainer{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#navcontainer ul li {
    display: inline-block;
    padding: 15px;
    justify-content: center;
}


.welcome {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    text-align: center;
    height: 1050px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: rgba(225, 225, 225, 0.6);
    padding-bottom: 0px;
}

#top-button {
    background-color: black; /* Green */
    border: none;
    border-radius: 40px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 32px;
    margin: 25px;
    margin-bottom: 150px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 255px;
    height: 50px;
    -webkit-box-shadow: 10px 10px 122px 2px rgba(10,10,10,0.89);
-moz-box-shadow: 10px 10px 122px 2px rgba(10,10,10,0.89);
box-shadow: 10px 10px 122px 2px rgba(10,10,10,0.89);
}

#top-button:hover {
    background-color: gray;
}
}

#welcome-text {
    padding-bottom: 400px;
}

#welcome-picture {
    padding-bottom: 400px;
}

#intro-h1 {
    font-size: 90px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0px;
    max-width: 1000;
    top: 0px;
    color: white;
}

#intro-h2 {
    color: black;
    font-size: 20px;
}

ul  {
    list-style: none;
}

#section1 {
    height: 100vh;
    width: 100vw;
} 

.claim {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #ec008c;

}

.claim-list {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;

}

.claim-list ul li {
    display: inline-block;
    padding: 50px;
    -webkit-justify-content: center;
}

.claim-text {
    font-size: 15px;
    max-width: 200px;
    text-align: left;
}

#claim-1 {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 500px;
    padding: .4em;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#claim-2 {
    color: black ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 500px;
    padding: .4em;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#claim-3 {
    color: black ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 500px;
    padding: .4em;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.explain {
    -webkit-justify-content: space-between;
    align-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    width: 100vw;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

#left {
    width: 500px;
    padding-right: 100px;
}

#right {
    width: 500px;
    padding-left: 100px;
}

.speakers-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 150px;
}
.speakers {

}

#speakers-list {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    text-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding-left: : 3em;
    padding-right: : 4em;
}

.speaker-text {
    font-size: 15px;
    max-width: 200px;
    text-align: left;
}

#speaker-1 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;



}
#speaker-2 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;

}

#speaker-3 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;
}

#speaker-4 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;
}

#speaker-5 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;
}

#speaker-6 {
    color: white ;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 160px;
    padding: 1em;
    line-height: 26px;
    font-size: 8px;
}

.outro {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -align-items: center;
    text-align: center;
}


